* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  overflow: hidden;
  :focus {
    background-color: rgba(
      40,
      38,
      69,
      0.5
    ); /*added for accessibility and UX, so the user knows what they are selecting */
  }
}

.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media only screen and (max-width: 768px) {
  body {
    background-image: url(/splashbackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    float: right;
    height: 100vh;
  }

  .bottombar {
    display: flex;
    height: 20vh;
    justify-content: left;
    align-items: last baseline;
    margin-bottom: 2px;
  }

  .logobox {
    width: 4rem;
  }

  .choicetiles {
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
  }

  .tile {
    width: 15rem;
    height: 15rem;
  }

  .tile:hover {
    width: 15rem;
    height: 15rem;
    cursor: pointer;
  }

  .usericon {
    width: 5rem;
    height: 5rem;
  }

  .usericon:hover {
    width: 7rem;
    height: 7rem;
    cursor: pointer;
  }
  .titleText {
    font-family: "Jersey 10";
    display: flex;
    font-size: 2rem;
    justify-content: center;
    padding-top: 5px;
    color: #02274e;
  }

  .icontext {
    text-wrap: wrap;
    justify-self: center;
    padding-bottom: 1px;
    font-weight: 600;
    color: #fff7ee;
    text-shadow: 1px 1px #02274e;
  }
}

@media only screen and (min-width: 769px) {
  body {
    background-image: url(/splashbackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    float: right;
    height: 100vh;
  }

  .bottombar {
    display: flex;
    height: 25vh;
    justify-content: left;
    align-items: start;
    margin-bottom: 2px;
  }

  .logobox {
    width: 4rem;
  }

  .choicetiles {
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
  }

  .tile {
    width: 19rem;
    height: 19rem;
  }

  .tile:hover {
    cursor: pointer;
  }

  .usericon {
    display: flex;
    width: 5rem;
    height: 5rem;
  }

  .usericon:hover {
    width: 7rem;
    height: 7rem;
    cursor: pointer;
  }

  .titleText {
    font-family: "Jersey 10";
    display: flex;
    font-size: 3.5rem;
    justify-content: center;
    padding-top: 5px;
    color: #eeb868;
    text-shadow: 3px 3px #02274e;
  }

  .icontext {
    text-wrap: wrap;
    justify-self: center;
    padding-bottom: 1px;
    font-weight: 600;
    color: #fff7ee;
    text-shadow: 1px 1px #02274e;
  }
}

@media only screen and (max-width: 500px) {
  .tile {
    width: 14.5rem;
    height: 14.5rem;
  }

  .bottombar {
    padding-bottom: 10px;
  }

  .titleText {
    font-size: 1.5rem;
  }

  .icontext {
    text-wrap: wrap;
    justify-self: center;
    padding-bottom: 5px;
    color: #ffffff;
  }
}
